/*Global styles */

/* 
     dark-green - #3c8453
     sarly-beige - #bcaa96
     dark grey - #222
     light grey - #d3d4d6 
     off-white - #f6f6f6
 */


html{
   
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  
}

*,*::before,*::after{

  box-sizing: inherit;
}

.content-wrapper{

  margin: 0 auto;
  max-width: 900px;
}

body{
  background: palegreen;
}

.btn{

  background-color: #3c8453;
  color:#f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  letter-spacing: .1em;
  transition: transform 0.3s ease, opacity 0.3s ease-in;
  
}

.btn:hover{

  opacity: 0.85;
  transform: translateY(-4px);
}

@media(max-width:1250px){
    .download-link{
        position: absolute;
    }
}

h1,h2,h3{
    font-family: "Caveat", cursive;
    font-weight: 200;
    margin:0;
}
h1{
    font-size: 3.2rem;
    line-height: 0.85;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}


@keyframes fadeSlideIn {
  from {
    transform: translateY(20px); 
    opacity: 0;                  
  }
  to {
    transform: translateY(0);    
    opacity: 1;                  
  }

}

@keyframes fadeIn {
  from { 
    opacity: 0;                  
  }
  to {    
    opacity: 1;                  
  }
}

@keyframes ltor {

  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rtol {

  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }

}

/* index */


.home{

  background: url(../images/bg-home-office-bookshelf.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

@media (max-width:500px) {

  .home{
    background: url(../images/bg-home-office-bookshelf.jpg) no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
  }
}


.home .content-wrapper{

  margin: 0 auto;
  padding: 30px;
  flex-grow: 1;
  animation: fadeSlideIn 1560ms ease-out;
  font-size: 1.2em;
  text-align: justify;
  
}

.home .content-wrapper a{

  color:purple;
  text-decoration:none;
}

.home .content-wrapper a:hover{

  opacity: 0.6;
  text-decoration:wavy;
}

.home .content-bg{

  padding: 30px;
  background: rgba(255, 255, 255, .91)
}



/* resume */

.resume{

  background: #f6f6f6;
}

.resume header{

  animation: fadeSlideIn 1s ease-in;
  padding:10px 0;
}
.resume-header::before{

  background: url(../images/bg-home-office-studio.jpg) center/cover no-repeat;
  content: "";
  display: block;
  height: 300px;
  animation: fadeIn 3.5s ease-in;
}

@media (max-width:500) {
    .resume header::before{
        height: 200px;
    }
    h1{
        font-size: 5rem;
        padding: 0;
    }
    h2{
        font-size: 2.6rem;
        padding: 0;
    }
    
}

.resume .intro{

  animation: fadeSlideIn 2.5s ease-in;
  font-size: 1.2em;
  text-align: justify;
}

.content-wrapper{

  margin:0 auto;
  max-width: 1000px;
}

.resume .download-link{

  background:green;
  position: fixed;
  top: 10px;
  left: 10px;
  animation: fadeIn 2s ease-in;
}

@media(max-width:1250px){
    .resume .download-link{
        position: absolute;
    }
}

.resume-section a{

  text-decoration: none;
}

.resume-section a:hover{

    opacity: .6;
}

.resume-section h2{
  border-bottom: 2px dashed #d3d4d6;
}

.resume-section{

  margin-bottom: 50px;
}


/* projects */

.resume-section .p{

  animation: fadeSlideIn 3.5s ease-in;
  padding: 30px 0 0 0;
}

.project-items{

  margin-block: 30px;
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: justify;
}

.project-item p{

  font-size: 1.085em;
  text-align: justify;
}

@media screen and (min-width:860px) {
  .project-items{
      display: flex;
      flex-direction: column;
  }
  .project-item img{
        float: left;
        margin-right: 20px;
        width: 200px;
        height: auto;
        display: block;
        max-width: 100%;
  }

  .project-items .A,.project-items .B,.project-items .C,.project-items .D{
      padding-top:10px ;
      animation: ltor 4.1s ease-out;
  }
}

@media screen and (min-width:650px) and (max-width:859px) {
    .project-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .project-item img {
        width: 100%;
    }
  .project-items .A,.project-items .C{

      animation: ltor 3.7s ease-out;
  }

  .project-items .B,.project-items .D{

    animation: rtol 3.7s ease-out;
  }
}
@media screen and (max-width:500px) {
    .project-item img{
        width : 100%;
        height: auto;
        margin-bottom: 10px;
    }
  .project-items .A,.project-items .C,.project-items .B,.project-items .D{

      animation: fadeSlideIn 3.7s ease-out;
  }
}


/* Education */

.education-item{
    margin-block: 20px;
}
.education-item p{
    margin: 0;
    font-size: 1em;
}
.edu a{
  display: inline-block;
  transition: transform 0.3 ease-in, opacity 0.3 ease-in;
}

.edu a:hover{

  opacity: 0.85;
  transform: translateY(-4px);
}

.ed{

  animation: fadeSlideIn 6.5s ease-in;
}

.edu .education-item{

  animation: ltor 7.8s ease-in;
}

/* achievments */

.ach{

  animation: fadeSlideIn 8.2s ease-in;
}

.achivements p{

  padding: 5px 0;
  margin: 5px 0;
  font-size: 1.1em;
}

.achivements{

  animation: ltor 8.7s ease-in;
}
/* footer */

footer{

  width:100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 0px;
  margin: 0px;
  color: white;
  background: rgba(34, 34, 34, .74) ;
  animation: fadeSlideIn 2360ms ease-out;
}

.socials{

  gap: 10px;
  list-style-type: none;
  padding: 5px;
  margin: 0; 
}

.socials img{

  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 10px;
}

.socials li{

  display: inline-block;
}


footer a{
  display: inline-block;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  color: white;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.85;
  transform: translateY(-4px);
}
@media (min-width:860px){
    footer{
        display :flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media(max-width:859px){
    footer{
        text-align : center;
        padding: 10px;
    }
}
